body{
  background:#0b0b0b;
  color:#00ffcc;
  font-family:Arial;
}

.container{
  max-width:500px;
  margin:auto;
  padding:20px;
}

h1{
  text-align:center;
}

input{
  width:100%;
  padding:10px;
  margin:10px 0;
  background:#111;
  border:1px solid #00ffcc;
  color:#00ffcc;
}

.card{
  background:#111;
  border:1px solid #00ffcc;
  padding:10px;
  margin-bottom:10px;
}

.footer{
  margin-top:20px;
  text-align:center;
}