body{
  margin:0;
  font-family:Arial, sans-serif;
  background:#050522;
  color:white;
  text-align:center;
}

header{
  padding:20px;
  background:#0b0b3a;
}

h1{
  margin:0;
  color:#7f8cff;
}

.container{
  max-width:400px;
  margin:20px auto;
}

.card{
  background:#111;
  margin:10px;
  padding:15px;
  border-radius:10px;
}

.download-btn{
  display:block;
  background:linear-gradient(45deg,#1a2bff,#6a7bff);
  padding:12px;
  border-radius:10px;
  color:white;
  text-decoration:none;
  font-weight:bold;
}

.desc{
  font-size:13px;
  color:#aaa;
}

footer{
  margin:30px;
  font-size:12px;
  color:#888;
}